<div class="container bg-dark text-white">
  <div class="row">
     <div class="col">
       <h1>{{title}}</h1>
     </div> 
  </div>
  <div class="row">
    <div class="col">
        <app-personal-details></app-personal-details>
    </div>    
  </div>
  <div class="row">
    <div class="col-sm-6">
      <app-skill-details></app-skill-details>
    </div>
    <div class="col-sm-6">
      <app-education-detail></app-education-detail>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-declaration></app-declaration>
    </div>
  </div>
</div>