.D{
    background: blue;
    color: white;
}
.F{
    background: orange;
    color: aqua;
}
.S{
    background: green;
    color: white;
}
.P{
    background: peru;
    color: beige;
}
.FAIL{
    background: red;
    color: white;
}