<table class="table bg-warning text-white">
  <tr>
    <td>Name: </td>
    <td><input type=text name=name [(ngModel)]="newInquiry.name" class="form-control" /></td>
  </tr>
  <tr>
    <td>Email: </td>
    <td><input type=email name=email [(ngModel)]="newInquiry.email" class="form-control" /></td>
  </tr>
  <tr>
    <td>MobileNo: </td>
    <td><input type=text name=mobileNo [(ngModel)]="newInquiry.mobileNo" class="form-control" /></td>
  </tr>
  <tr>
    <td>Course: </td>
    <td>
      <select name="course" class="form-control" [(ngModel)]="newInquiry.course">
        <option [value]="-1">-:Select Course:-</option>
        <option *ngFor="let course of courseList" [ngValue]="course">
          {{course.courseName}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button class="btn btn-info" (click)="saveInquiry()">Save</button>
    </td>
  </tr>

</table>