<div class="row form-group">
  <div class="col-sm-8">
    &nbsp;
  </div>
  <div class="col-sm-4">
    <button class="btn btn-primary" (click)="addNewProduct()">New Product</button>
  </div>
</div>
<div class="row form-group">
  <div class="col">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Desc</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let product of productList">
          <td>{{product.id}}</td>
          <td><img src="../../../assets/images/{{product.code}}.jpg" width="50px" height="50px"/></td>
          <td>{{product.desc}}</td>
          <td>{{product.unitPrice}}</td>
          <td>
            <button (click)="edit(product.id)" class="btn btn-success m-1">Edit</button>
            <button (click)="delete(product.id)" class="btn btn-danger m-1">Delete</button>
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>